<header>
    <h1><a href="">MyBlog</a></h1>
    <ul class="menu-list">
        <li><a href="/posts">All posts</a></li>
        <li><a href="/new-post">Create posts</a></li>
    </ul>
    <a href="#side-drawer" class="menu-btn">
		<span></span>
		<span></span>
		<span></span>
	</a>
</header>