<!DOCTYPE html>
<html lang="en">
<head>
	<title>404</title>
	<meta http-equiv="X-UA-Compatible" content="IE=edge">
	<meta charset="utf-8">
	<meta name="viewport" content="width=device-width, initial scale=1.0">
	<link rel="stylesheet" type="text/css" href="404.css">
</head>
<body>
	<%- include('includes/header')%>
	<main>
		<section class="first-sec">
		<h1>Page not found!</h1>
		<p>Unfortunately we weren't able to find this page</p>
	</section>
	</main>
</body>
</html>