<!DOCTYPE html>
<html lang="en">
<head>
	<title>Posts</title>
	<meta http-equiv="X-UA-Compatible" content="IE=edge">
	<meta charset="utf-8">
	<meta name="viewport" content="width=device-width, initial scale=1.0">
	<link rel="stylesheet" type="text/css" href="post-lists.css">
	<script src="/scripts/deleteconf.js" defer></script>
</head>
<body>
	<header>
		<%- include('includes/header') %>
	</header>
<main>
    <h1>All posts</h1>
	<% if (!posts || posts.length===0) {%>
		<p class="para">No posts found- maybe start creating some?</p>
		<div class="bbtn">
		<a class="btn" href="/new-post">Create a new post</a>
		</div>
		<%} else{%>
			<form action="/posts" method="GET">
				<input type="hidden" value="<%=nextOrder%>" name="order">
		</form>
			<ol class="plists">
				<% for(const post of posts) {%>
				<li>
					<%- include('includes/post-item',{post:post}) %>
				</li>
				<% } %>
			</ol>
			<% } %>
</main>
</body>
</html>